*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	
}

#nav-bar {
	
	flex-shrink: 0 !important;
	background-color: #765C3D !important;
}

#nav-text-1 #nav-text-2 #nav-text-3 {
	color: #F2D2AE !important;
	text-align: center !important;
	font-family: Montserrat !important;
	font-size: 18px !important;
	font-style: normal !important;
	font-weight: 500 !important;
	line-height: normal !important;
}

/* Logo */
#Logo {
	position: absolute !important;
	width: 48.63px !important;
	height: 44px !important;
	left: 96.16px !important;
	top: 12px !important;
	background: url(Screenshot 2023-02-01 at 1.16.png) !important;
	width: 48.632px !important;
	height: 44px !important;
	flex-shrink: 0 !important;
}


#banner {
	width: 1680px !important;
	height: 816px !important;
	flex-shrink: 0 !important;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./bg-header.jpg") !important;
	cover: no-repeat !important;
}

#banner-text{
	width: 493px !important;
	height: 290px !important;
	flex-shrink: 0 !important;
	text-align: left !important;
	padding-top: 5rem !important;
}


#banner-text-header{
	display: flex !important;
	width: 493px !important;
	height: 124px !important;
	flex-direction: column !important;
	justify-content: flex-end !important;
	flex-shrink: 0 !important;
	color: #FFF !important;
	font-family: Montserrat !important;	
	font-size: 64px !important;
	font-style: normal !important;
	font-weight: 600 !important;
	line-height: 72px !important; /* 112.5% */
	letter-spacing: -1.28px !important;
}


#banner-text-paragraph{
	width: 413px !important;
	height: 124px !important;
	flex-shrink: 0 !important;
	color: #FFF !important;
	font-family: Montserrat !important;
	font-size: 24px !important;
	font-style: normal !important;
	font-weight: 400 !important;
	line-height: 30px !important; /* 125% */
	padding-top: 1rem !important;
}


#banner-button{
	display: inline-flex !important;
	align-items: flex-start !important;

}

#banner-button-1{
	display: flex !important;
	padding: 12px 32px !important;
	justify-content: center !important;
	align-items: center !important;
	gap: 8px !important;
	border-radius: 999px !important;
	background: #B59066 !important;
}

#button-text{
	color: var(--button-text-button-primary-text, #FFF) !important;
	text-align: center !important;
	font-family: Montserrat !important;
	font-size: 20px !important;
	font-style: normal !important;
	font-weight: 600 !important;
	line-height: 24px !important;
}


#banner-gallery{
	width: 1680px !important;
	height: 3134px   !important;
	flex-shrink: 0   !important;
	background: #FFF   !important;
}

#caption-container{
	display: flex  !important;
	width: 983px  !important;
	height: 138px  !important;
	flex-direction: column  !important;
	justify-content: center  !important;
	align-items: center  !important;
	gap: 31px  !important;
	flex-shrink: 0  !important;
	color: #765C3D  !important;
}

#gallery-header{
	display: flex !important;
	width: 385px !important;
	height: 49px !important;
	flex-direction: column !important;
	justify-content: flex-end !important;
	flex-shrink: 0 !important;
	color: #765C3D !important;
	text-align: center !important;
	font-family: Montserrat !important;
	font-size: 40px !important;
	font-style: normal !important;
	font-weight: 600 !important;
	line-height: normal !important;
}


#