/**{
	margin: 0;
	padding: 0;
}*/

.img-float {
	width: 250px;
	height: 250px;

	/* The float property can be set either to the left or right. this positioning will depend of the content or sibling of the element you are selecting	*/
	float: right;
	z-index: 1;
}

.parent-element{
	background-color: skyblue;
	padding: 10px;

	/* If the Prent element has position: relative, then any children that have position: absolute will have their positions based on the parent instead of the whole page itself		*/
	position: relative;
	height: 800vh;
	z-index: -1;


}

.child-one{
	background-color: gray;
	padding: 10px;
	
}

.child-two{
	background-color: yellow;
	padding: 10px;

	/*	Static - this is the default positioning of any element*/
	/* Relative - This is the opposite of static, wherein you can modify the top, left, bottom, and right properties to define the exact position of the element. and it also depends on the aprent element	*/
	/* Absolute - Instead of depending on the parent element is depends on the whoele page itself. and you can stil modify the exact position by using top, left, bottom, and right properties */
/* fixed - this will attach to the page itself and will now move regardless on if you scroll	*/
/* Sticky - this will be positioned relatively by default but once it reaches a certain scroll point, then it will stoch to the browser intil it is back in its original position. the top property is crucial for it to be able to stick with spacing on the top. */
	/*position: absolute;
	left: 10px;
	bottom: 10px;*/
	position: sticky;
	top: 10px;
	
}

.child-three{
	background-color: indianred;
	padding: 10px;
	
	
}

/* To emulate a long scrolling page */
html {
	height: 800vh;
}
