/*CSS Reset*/
* {
	/*Removes the defualt margin and padding in CSS	*/
	margin: 0;
	padding: 0;

	/*This is done to ensure that when set a custom width to elements, their width will be the exact same as the value we set	*/
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*Navbar*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
/*End of Navbar*/

/*Intro section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #0000ff;
	border-radius: 25px;
	font-size: 1rem;
	/*Hen using only 1 value for the 'padding' property, you are applying styling for all sides		*/

	/*You can use 4 values for the 'padding' property to apply styling to each side separately.	*/
	padding: 1rem 1rem 1rem 1rem;
}

/*End of Intro Section*/

/* Succeed info section */
#succeed-info{
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin: 0 0.5rem 0 0.5rem;
}
/*End of succeed info section*/

/*Adding selector and CSS rule for all the elements inside the div*/

.pre-footer div *{
	margin-top: .3rem;
	margin-bottom: .3rem;
}

/* END Adding selector and CSS rule for all the elements inside the div*/