h3 {
	color: hotpink;
}

#zuitt-motto-p {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

/*may use the !important tag to prioritize specific style,
but not good practice to use it often*/
h1 {
	color: blueviolet !important;
}

/* adjacent sibling selector -- should be adjacent */
/* selected element is the <img> (finds the adjacent sibling of <h1>) */
h1 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* descendant selector */
#bootcamp-learning-list li {
	color: indianred;
}

/* general sibling selector */
h2 ~ a {
	text-decoration: none;
	color: black;
}

html {
	scroll-behavior: smooth;
}

/* setting a height in vh is common in the real world */
section {
	height: 100vh;
	text-align: center;
}

ol {
	list-style-type: none;
	padding: 0;
}